

body{
   margin: 0px;
   background-image: url(https://unsplash.com/photos/uhjiu8FjnsQ/download);
   
}



/* colors */

.textColor1{
    color: #64939a;
}

.textColor2{
    color: #346780;
}

.textColor3{
    color: #0b182d;
}

.textColor4{
    color: #8c9494;
}

.textColor5{
    color: #44787c;
}



/* main image and text*/
.container {
    position: absolute;
    text-align: center;
    color: white;
  }



.centered {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:cursive ;
  }


  img{
    height: 80%;
    width: 80%;
    opacity: .45;
    
}


  /* menu bar */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0b182d;
    font-family: cursive;
  }
  
  li {
    float: left;
    font-family: cursive;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    
    
  }

  .display{
    display: block;
    margin: 0;
    padding: 16px;
  }
  
  li a:hover {
    background-color: #8c9494;
  }



  .moon{
    height: 100px;
    width: 100px;
    border-left: 15px solid #8c9494;
    border-radius: 100%;
    transform: rotate(-40deg);
    
  }
  

  .cursive{
    font-family: cursive;
  }



  .exp2{

    margin-top:60%;
    /* margin-left: 40%; */

  }




  


  .button1{
    display: flex;
    position: relative;
    margin: 15%;
    font-family: cursive;
    color: #64939a;
    justify-content: center;
  
  }



.cardContainer{

  display: inline-block;
  justify-content: space-around;
 
  
}


.card{

  margin: 10%;
  color: #346780;
  font-family: cursive;
  margin-left: 195%;
  background-image: url(https://unsplash.com/photos/uhjiu8FjnsQ/download);
  text-align: center;
  /* height: auto;
  width: auto; */
}



.hey{

  margin: 20px;
  
}

 /* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;

} */




/* .cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */











/* section{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000200;
  display: flex;
  justify-content: center;
  align-items: center;

}

section .star{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

section .star.star1{ */
  

